.home-container{
    display:flex;
    justify-content: space-between;
    padding-top: 50px;
}

.home-content .section_title{
    font-size: 3rem;
    padding-right: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.home-content p{
    font-size: 1.1rem;
    color: var(--heading-color);
    margin-bottom: 50px;
    line-height: 30px;
}

.home-btns{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    
}

.home-btns :hover{
    background-color: #5a4be3; 
    transform: scale(1.05); 
}